@model IEnumerable<Movies.User_info>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("添加", "Insert");


<table>
    <tr>
        <th>Name</th>        
        <th>Age</th>
        <th>Company</th>
        <th>操作</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td> @item.Name</td>
            <td>@item.Age</td>
            <td>  @item.Company</td>
            <td><a href="Edit/@item.Id">修改</a></td>
            <td>@Html.ActionLink("删除", "Delete/" + item.Id + "") </td>
        </tr>
    }
</table>
